#menu {
    list-style: none;
    position: fixed;
    right: 80px;
    top: 0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
#menu li {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 8px;
    margin-bottom: 10px;
}
 
/*Стиль ссылки когда активен соответствующий блок*/
#menu li a {
    display: block;
    width: 7px;
    height: 7px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}
 
/*Стиль элемента списка когда активен соответствующий блок*/
#menu li.active {
    border: 1px solid rgba(255, 255, 255, 0.3);
}
#menu li.active a {
    background: #FFAC30;
}