// vars
$containerWidth: 80%;

$goldColor: #FFAC30;
$whiteText: #fff;
$popupBg: rgba(0, 0, 0, .85);
$toggleColor: #fff;
$formBg: #fff;

// fonts
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Bruno Ace';
    src: url(../fonts/bruno_ace.ttf);
}

// mixins
@mixin popupForm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: $popupBg;
    position: absolute;
    top: -100vh;
    right: -100%;
    transition: all .5s;
}
@mixin form ($inputBorder) {
    display: flex;
    flex-direction: column;
    .form_btn {
        width: 100%;
        background: url(../img/arrow.svg) center right / 25% no-repeat;
    }
    input {
        width: 500px;
        height: 65px;
        border: none;
        border-bottom: 1px solid $inputBorder;
        background-color: transparent;
        margin-bottom: 14px;
        &:focus {
            outline: none;
        }
    }
    input[type="submit"] {
        display: block;
        border: none;
        text-align: left;
        text-transform: uppercase;
        color: $goldColor;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.25em;
        margin-bottom: 0;
        &:hover {
            cursor: pointer;
        }
    }
}

// global styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
    font-weight: 400;
    color: $whiteText;
}
a {
    text-decoration: none;
}
input[type="checkbox"] {
    display: none;
}
.header_wrap,
.menu_list {
    width: $containerWidth;
    max-width: 100%;
    margin: 0 auto;
}
section {
    background: url(../img/section-bg.jpg) center / cover no-repeat;
    position: relative;
}
section::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(61, 28, 28, 0.45);
}
.section_wrap {
    position: relative;
    z-index: 1;
    p {
        color: $whiteText;
    }
}

// forms
#popupForm {
    @include form(rgba(255, 255, 255, 0.15))
}
#heroForm {
    @include form(rgba(0, 0, 0, 0.15))
}

// logo
.logo {
    display: block;
    width: 70px;
    position: absolute;
    left: 50px;
    top: 40px;
    z-index: 9;
    img {
        width: 100%;
    }
}

// header
header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
    padding: 40px 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1em;
    .header_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        label {
            width: 280px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-transform: uppercase;
            color: $goldColor;
            position: relative;
            z-index: 9;
            &:hover {
                cursor: pointer;
            }
        }
        .popup_form {
            @include popupForm();
        }
        input:checked ~ .popup_form {
            top: 0;
            right: 0;
        }
    }
    .nav_menu {
        width: 280px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        nav {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            z-index: 7;
            top: -100vh;
            left: -100%;
            width: 100vw;
            height: 100vh;
            background-color: $popupBg;
            transition: all .5s;
        }
        input:checked ~ nav {
            top: 0;
            left: 0;
        }
        label {
            display: block;
            height: 18px;
            width: 30px;
            position: relative;
            z-index: 9;
            &:hover {
                cursor: pointer;
            }
        }
        label span {
            display: block;
            width: 13px;
            height: 2px;
            background-color: $toggleColor;
            position: absolute;
            top: calc(50% - 1px);
            &::before,
            &::after {
                content: '';
                display: block;
                position: absolute;
                height: 2px;
                background-color: $toggleColor;
            }
            &::before {
                top: -8px;
                width: 25px;
            }
            &::after {
                top: 8px;
                width: 30px;
            }
        }
        .phone {
            color: $whiteText;
            position: relative;
            z-index: 9;
        }
    }
    .callback {
        span {
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, .15);
            padding: 11px 13px;
            animation: pulse 2s infinite;
        }
    }
    hr {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: $containerWidth;
        height: 1px;
        border: none;
        background: rgba(255, 255, 255, 0.25);
        z-index: 5;
    }
}

// pulse animation
@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 20px rgba(255,255,255, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
	}
}
@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
		box-shadow: 0 0 0 0 rgba(255,255,255, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 20px rgba(255,255,255, 0);
		box-shadow: 0 0 0 20px rgba(255,255,255, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(255,255,255, 0);
		box-shadow: 0 0 0 0 rgba(255,255,255, 0);
	}
}

.menu_list {
    list-style: none;
    display: flex;
    li {
        width: 20%;
        text-align: center;
        padding: 100px 15px;
        border-right: 2px solid transparent;
        border-image: linear-gradient(to bottom, #00000000 0%, #ffffff 50%, #00000000 100%);
        border-image-slice: 1;
        &:last-child {
            border: none;
        }
        a {
            color: $whiteText;
            font-weight: 300;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            transition: color .3s;
            &:hover {
                color: rgba(255, 255, 255, .4);
            }
        }
    }
}

.social {
    position: absolute;
    bottom: 60px;
    left: 70px;
    z-index: 9;
    ul {
        list-style: none;
        text-align: center;
        li {
            margin-top: 45px;
        }
    }
}

// hero
.hero {
    background: url(../img/hero-bg.jpg) center / cover no-repeat;
    .section_wrap {
        width: $containerWidth;
        max-width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    .hero_title {
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 200px;
            height: 1px;
            background-color: $toggleColor;
            transform: rotate(37deg);
            position: absolute;
            left: 20px;
            top: -55px;
        }
        &::after {
            content: '';
            display: block;
            width: 200px;
            height: 1px;
            background-color: $toggleColor;
            transform: rotate(37deg);
            position: absolute;
            left: 420px;
            bottom: -40px;
        }
    }
    .big {
        text-transform: uppercase;
        font-family: 'Bruno Ace', serif;
        font-size: 96px;
        line-height: 90px;
    }
    .small {
        text-transform: uppercase;
        font-size: 12px;
      }
    .big,
    .small {
        letter-spacing: 3px;
        fill: $whiteText;
    }
}
.section_form {
    background-color: $formBg;
    padding: 80px 120px;
    position: absolute;
    z-index: 7;
    bottom: 0;
    right: 0;
}